@font-face {
    font-family: 'CustomFont1';
    src: url('./font/NeueBody.otf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('./font/light.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFont3';
    src: url('./font/NeueBold.otf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'CustomFont4';
    src: url('./font/NeueLight.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}